{{!-- Kills + Hangar block, used by character and ace sheets --}}
<div class="resource full">
  <div class="attribute flex-group-center">
    <div class="block-background">
      <div class="block-title">
        {{localize "ucttg.Kills.Title"}}
      </div>
      <div class="block-attribute">
        <table class="kills-table">
          <tbody>
            <tr>
              <td class="kills-label">{{localize "ucttg.Kills.SmallVehicles"}}</td>
              <td class="kills-value">
                <input type="text" name="data.kills.smallVehicles"
                       value="{{#if data.kills.smallVehicles}}{{data.kills.smallVehicles}}{{else}}0{{/if}}"
                       data-dtype="Number" />
              </td>
              <td class="kills-label">{{localize "ucttg.Kills.TransportVessels"}}</td>
              <td class="kills-value">
                <input type="text" name="data.kills.transportVessels"
                       value="{{#if data.kills.transportVessels}}{{data.kills.transportVessels}}{{else}}0{{/if}}"
                       data-dtype="Number" />
              </td>
            </tr>
            <tr>
              <td class="kills-label">{{localize "ucttg.Kills.MediumVessels"}}</td>
              <td class="kills-value">
                <input type="text" name="data.kills.mediumVessels"
                       value="{{#if data.kills.mediumVessels}}{{data.kills.mediumVessels}}{{else}}0{{/if}}"
                       data-dtype="Number" />
              </td>
              <td class="kills-label">{{localize "ucttg.Kills.MobileSuits"}}</td>
              <td class="kills-value">
                <input type="text" name="data.kills.mobileSuits"
                       value="{{#if data.kills.mobileSuits}}{{data.kills.mobileSuits}}{{else}}0{{/if}}"
                       data-dtype="Number" />
              </td>
            </tr>
            <tr>
              <td class="kills-label">{{localize "ucttg.Kills.LargeVessels"}}</td>
              <td class="kills-value">
                <input type="text" name="data.kills.largeVessels"
                       value="{{#if data.kills.largeVessels}}{{data.kills.largeVessels}}{{else}}0{{/if}}"
                       data-dtype="Number" />
              </td>
              <td class="kills-label">{{localize "ucttg.Kills.Ace"}}</td>
              <td class="kills-value">
                <input type="text" name="data.kills.ace"
                       value="{{#if data.kills.ace}}{{data.kills.ace}}{{else}}0{{/if}}"
                       data-dtype="Number" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="resource full">
  <div class="attribute flex-group-center">
    <div class="block-background">
      <div class="block-title">
        {{localize "ucttg.Hangar.Title"}}
      </div>
      <div class="block-attribute">
        <table class="hangar-table">
          <tbody>
            {{#each data.hangar as |entry id|}}
              <tr>
                <td class="hangar-value">{{localize "ucttg.Hangar.Placeholder"}}
                  <input type="text"
                         name="data.hangar.{{id}}.value"
                         value="{{entry.value}}"
                         data-dtype="String"
                         placeholder="{{localize 'ucttg.Hangar.Placeholder'}}" />
                </td>
                <td class="hangar-controls">
                  <a class="remove-hangar" data-id="{{id}}" title="{{localize 'ucttg.Hangar.Remove'}}">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            {{/each}}
            {{!-- Always-present empty trailing row for auto-expand --}}
            <tr>
              <td class="hangar-value" colspan="2">
                <input type="text"
                       class="hangar-new"
                       name="hangar-new-entry"
                       value=""
                       data-dtype="String"
                       placeholder="{{localize 'ucttg.Hangar.AddPlaceholder'}}" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>